html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 250px;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--bs-primary) !important;
}

.sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    color: #fff; 
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-subtitle {
    font-size: 0.75rem;
    color: #a0a0a0;
    padding: 1rem 1.25rem 0.5rem;
    font-weight: 600;
}

.list-group-item {
    border: none; 
    color: #fff !important;
    background-color: var(--bs-primary) !important;
    transition: background-color 0.2s;
    font-size: 0.95rem;
    padding: 0.75rem 1.25rem;
}

    .list-group-item:hover {
        background-color: #3b87bc !important; 
        color: #fff !important;
    }

#page-content-wrapper {
    margin-left: 250px;
    padding: 0; 
    width: 100%; 
    padding-bottom: 60px;
}

.sidebar-footer-links {
    margin-top: auto; 
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

    .sidebar-footer-links .list-group-item {
        font-size: 1rem;
        padding: 1rem 1.25rem;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .sidebar-footer-links form button {
        background-color: transparent !important;
        text-align: left;
        font-size: 0.95rem;
    }